@*@model IEnumerable<Category>
@{
    ViewData["Title"] = "Каталог";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Catalog.css" asp-append-version="true" />
<div class="text-center">

        @foreach(var category in Model)
        {
            
                @Html.Raw("<img class='recipeImage' src=\"data:image/jpeg;base64," + Convert.ToBase64String(category.Photo) + "\" />")
        <a class="catName" asp-action="m " asp-route-id="@category.IdCategory">@category.NameCategory</a>

        }
</div>.\*@